-e git+git://github.com/oyvindio/events.git#egg=Events
Jinja2==2.6
Pygments==1.6
Sphinx==1.2b1
beautifulsoup4==4.1.3
distribute==0.6.34
docutils==0.10
requests==1.2.0
-e git+git://github.com/kvikshaug/lurklib.git#egg=lurklib
